main {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-top: 20px;
}
.bottom-col {
  overflow: auto;
}
.versions {
  float: right;
}
.parser-options {
  padding: 10px;
}
.parser-options h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.checkbox {
  margin-left: 20px;
  margin-right: 10px;
}
.checkbox input[type="checkbox"] {
  margin-left: 10px;
  margin-right: 10px;
}
.select {
  margin-left: 27px;
}

.tab-content {
  height: calc(100% - 47px);
}

.tab-pane {
  height: 100%;
}