header {
  padding: 10px;
}

.version-badge {
  margin-left: 10px;
}

.gh-btn {
  margin-left: 10px;
}

ul {
  margin-bottom: 0;
}
li {
  list-style: none;
}
.version-list {
  margin-bottom: 0;
}
.version {
  font-size: 10px;
}
